<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ryan's Blog</title>
	<th:block th:fragment="head-style">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../../standard.css" rel="stylesheet">
	</th:block>
</head>
<body>
	<div th:fragment="body-links">

		<script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
		<script src="../../script.js"></script>
	</div>
</body>
</html>



